#main-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 5%;
    transition: width 0.3s ease;
}

@media screen and (max-width: 1024px) {
    #main-container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #main-container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #main-container {
        padding: 0 10px;
    }
}